    <div class="container">
      <div class="panel panel-primary" style="text-align:center;">
          <h3>Internal Server Error: <%= message %></h3>
        <div class="panel-body">
        </div>
      </div>
    </div>
