    <div class="container">
      <form class="form-signin" role="form" action="/review" method="post">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Review access</h3>
          </div>
          <div class="panel-body">
            <p>Hi <%= user.firstName %>,</p>
            <pre><%= JSON.stringify(grants, null, 3) %></pre>
          </div>
        </div>
        <input name="transaction_id" type="hidden" value="<%= transactionID %>">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Allow" id="allow">Done</button>
        <button name="cancel" class="btn btn-lg btn-primary btn-block" type="submit" value="Cancel" id="deny">Cancel</button>
      </form>
    </div>
